---
import SplitLayout from '../../../layouts/SplitLayout.astro';
import Report from '$components/Report/Index.svelte';
---

<SplitLayout
  title="バグ報告"
  fullScreen={true}
  header="表示なし"
>
  <h1>バグ報告</h1>
  <Report client:load />
</SplitLayout>
