---
import SplitLayout from "../../../layouts/SplitLayout.astro";
---

<SplitLayout
  title="バグ報告"
  fullScreen={true}
  header="表示なし"
>
  <h1>バグ報告</h1>
  <p><a href="mailto:wing@me.wing.osaka">wing@me.wing.osaka</a>までお願いします．</p>
</SplitLayout>