:root {
  --foreground: white;
  --background: #16171d;
  --borderColor: rgb(97, 97, 97);
  --themeColor: #3178c6;
  --codeBack: #011627;

  --headerHeight: 45px;
  --searchWidth: 320px;
  font-family: var(--font-zen-kaku-gothic-new);
  background-color: var(--background);
  color: var(--foreground);
}

a {
  color: var(--themeColor);
  filter: brightness(120%);
  &:hover {
    filter: brightness(100%);
  }
}

code {
  font-family: var(--font-fira-code), var(--font-m-plus-1-code), monospace;
}

.formTextSlot {
  font-size: 17px;
  border: 1px solid transparent;
  border-radius: 10px 10px 0 0;
  border-bottom-color: var(--foreground);
  background: var(--codeBack);
  font-family: var(--font-zen-maru-gothic);
  color: var(--foreground);
  &:focus {
    outline: none;
    color: var(--themeColor);
    border-bottom-color: var(--themeColor);
  }
  &.error {
    border-bottom-color: red;
    color: red;
  }
}
