---
import SplitLayout from "../../layouts/SplitLayout.astro";
import '../../styles/aboutLicense.scss';
---

<SplitLayout
  title="このアプリについて"
  fullScreen={true}
  header="ライセンス"
>
  <h1>このアプリについて</h1>
  <h2>ライセンス</h2>
  <p>このアプリは，</p>
</SplitLayout>