---
import SplitLayout from "../../layouts/SplitLayout.astro";
import '../../styles/aboutLicense.scss';
---

<SplitLayout
  title='コンテンツについて'
  noindex={true}
  fullScreen={true}
  header="ライセンス"
>
  <h1>ライセンスについて</h1>
</SplitLayout>