.search-output {
  .ステータス {
    text-align: center;
  }
  ul.結果一覧 {
    list-style-type: none;
    margin-left: -22px;
    hr {
      margin: 7px 0 7px 11px;
    }
    li.項目 {
      margin: 0;
      a {
        text-decoration: none;
        margin: 0;
        &:hover {
          h2 {
            text-decoration: underline;
          }
        }
        h2 {
          margin: 0;
          font-family: var(--font-fira-code), var(--font-zen-kaku-gothic-new), monospace;
          font-size: 20px;
        }
        p.詳細 {
          color: var(--foreground);
          margin: 3px auto;
        }
      }
    }
    ul.サブ結果 {
      margin: 0;
      padding: 0 0 0 1.5em;
      li.中身 {
        margin: 0;
        padding: 0;
        a {
          margin: 0;
          text-decoration: none;
          h3 {
            margin: 0;
            font-size: 16px;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}