---
import Share from '$components/LayoutUI/UnderShare.svelte';

interface Props {
  showShare?: boolean;
  shareTitle?: string;
}

const { showShare = false, shareTitle = '' } = Astro.props;

const 正規URL = new URL(Astro.url.pathname, Astro.site).href;
---

<div class="root">
  <div class="left"></div>
  <div class="center">
    {
      showShare && (
        <Share
          client:load
          shareTitle={shareTitle}
          shareUrl={正規URL}
        />
      )
    }
  </div>
  <div class="right"></div>
</div>

<style lang="scss">
  .root {
    height: 33px;
    border: none;
    display: flex;
    justify-content: space-between;
  }
</style>
