---
import SplitLayout from "../../layouts/SplitLayout.astro";
---

<SplitLayout
  title="送信完了 - フィードバック"
  noindex={true}
  fullScreen={true}
  header="表示なし"
>
  <h1>フィードバックが送信されました</h1>
  <p>ご協力ありがとうございました．お客様の御意見は，今後の参考にさせていただきます．</p>
</SplitLayout>